body{
    font-family: manrope;
    font-weight: 400;
    background-color: #F5F5F5;
}

.container{
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

h1{
    font-size: 60px;
    line-height: 60px;
    margin-top: 128px;
    margin-bottom: 30px;
    font-weight: 400;
    width: 960px;
    letter-spacing: -0.03em;
}
p{
    font-size: 20px;
    line-height: 28px;
}
h5{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}
h2{
    font-size: 40px;
    line-height: 61.5px;
    margin-bottom: 30px;
}
.pic1{
  
    width: 1150px;
    height: 500px;
    background-image: url(resurces/pic1.png);
    margin-bottom: 150px;
}
.pic1-text{
    color: white;
    width: 480px;
    margin-bottom: 30px;
    padding-top: 379px;
    padding-left: 49px;
}

.sslka{
    height: 67px;
    width: 255px;
    display: block;
    color: white;
    background-color: #AD1818;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    border-radius: 5px;
}
.sslka:hover{
    background-color: white;
    color:#AD1818
}
